<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="benlau_skontodiscount" frontName="benlau_skontodiscount">
            <module name="Benlau_SkontoDiscount"/>
        </route>
    </router>
</config>