.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-sm {
    font-size: 1rem;
}

.text-lg {
    font-size: 2rem;
}

a:hover {
    opacity: .85;
}


.sf-menu, .sf-menu * {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu li {
    float: left;
    white-space: nowrap;
    /* no need for Supersubs plugin */
    *white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
}

.sf-menu a {
    display: block;
    position: relative;
    text-decoration: none;
    zoom: 1;
}

.separator {
    background: #59b031;
    width: 5rem;
    height: .45rem;
    display: block;
    margin: 2rem 0;
}

.border-right {
    border-right: 1px solid #e5ecee;
}

.column.border-right {
    padding-right: .5rem;
    margin-right: .5rem;
}

a.cta {
    text-transform: uppercase;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid #292b2c;
    border-radius: 0px;
    text-align: left;
    font-weight: 600;
    font-style: normal;
    color: #292b2c;
    font-size: 14px;
}

a.cta:hover {
    color: #59b031;
    border-bottom-color: #59b031;
}

.box {
    background: @white;
    box-shadow: 0 .2rem 2rem #e8eaed;
    padding-bottom: 3rem;
}

.box:hover {
    box-shadow: 0 .2rem 2rem #d9dfe9
}

.box img {
    margin-bottom: 3rem;
}

.box h4 {
    padding-top: 2rem;
    text-align: center;
}

.box-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-wrapper {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.btn {
    color: @white;
    text-transform: uppercase;
    background: #59b031;
    padding: 1.5rem 3rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: none;
    height: auto;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn.white {
    background: @white;
    color: #59b031;
}

.btn .icon {
    font-size: 6rem;
    position: absolute;
    text-align: right;
    display: block;
    line-height: 1rem;
    padding-left: 26px;
}

.btn .icon i {
    color: #fff !important;
}

.btn h5 {
    margin-bottom: 0;
    margin-left: 10rem;
    padding-top: .6rem;
    color: @white;
    line-height: 2.5rem;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 700;
}

.btn p {
    margin-left: 10rem;
    margin-bottom: .6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: @white;
    text-align: left;
}

.btn.btn-large {
    border-radius: 5.5rem;
    padding: 1.8rem .5rem 1.8rem 0 !important;
    background-color: #59b031;
}

.hoverable {
    position: relative;
    overflow: hidden;
}

.hoverable:hover .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.hoverable:hover .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

.anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}
.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

@-webkit-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

#logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 1rem;
    width: 23rem;
    padding: 0;
    background: @white;
}

#logo img {
    margin: 1.5rem 1rem;
}

#header {

}

#topbar {
    background: @white;
}

#topbar a.cta {
    display: inline-block;
    margin: 2rem 0;
}

#navbar {
    background-color: #aeb0b4;
}

#topnav {

}


#topnav li a {
    color: #a7a7a8;
    border-left: 1px solid #e5ecee;
    padding: 2rem 2.5rem;
}

#mainnav {
    margin: 2rem;
}

#mainnav {

}

#mainnav li a {
    padding: 1rem 1.5rem;
    color: @white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

#slider {
    background: #caffb1;
    padding: 20rem 5rem;
}

#slider-bottom i {
    font-size: 60px;
    color: #e2e2e2;
}

#slider-bottom .icons {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#slider-bottom .icons h3 {
    font-size: 2rem;
    padding-top: 1rem;
    margin-bottom: .5rem;
}

#slider-bottom .icons p {
    color: #a5abb8;
    font-size: 1.5rem;
}

.breadcrumbs {
    background: @maincolor;
    color: @white;
    overflow: auto;
}

.breadcrumbs h1.page-title {
    padding-top: 60px;
    color: @white;
    font-size: 4rem;
    font-weight: 300;
}

.breadcrumbs ul.items {
    margin-bottom: 4rem;
}

.breadcrumbs ul.items li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs ul.items li a {
    color: @white;
}

.breadcrumbs ul.items li:after {
    content: "/";
    display: inline;
    padding: 0 10px;
}

.breadcrumbs ul.items li:last-child:after {
    display:none;
}

#maincontent {
    padding-top: 35px;
    padding-bottom: 35px;
}


#bestsellers {
    background: #f7f8fa;
}

#services {
    padding: 5rem 0;
}

#footer-top {
    background: #0f0f13;
    color: @white;
    padding: 5rem 0;
}

#footer-top h5 {
    color: @white;
    font-weight: 700;
    margin-bottom: 1rem;
}

#copyright {
    background: #25262a;
    padding: 2.5rem 0;
    color: @white;
}

#copyright p {
    margin: 0;
}